@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container mt-4">
    @if (ViewBag.Response != null)
    {
        <div>
            <h3>@ViewBag.Response</h3>
        </div>
    }

    
</div>


